:root {
  --font-family-main: "Avenir";

  //Fonts
  --font-input: 500 14px/24px var(--font-family-main);
  --font-button: 500 15px/24px var(--font-family-main);

  // Colors
  --dark-grey: #303030;
  --grey: #707070;
  --light-grey: #9c9c9c;
  --lightest-grey: #d1d1d1;
  --lightest-grey-1: #f6f6f6;
  --dark-red: #c60e2e;
  --red: #e4163a;
  --light-red: #ff5761;
  --lightest-red: #ff768e;
  --blue: #344472;
  --white: #fff;
}
