.button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  height: 40px;

  font: var(--font-button);
}

.primary {
  width: 365px;
  background-color: var(--red);
  color: var(--white);

  &:hover {
    background-color: var(--light-red);
  }

  &:active {
    background-color: var(--dark-red);
  }

  &:disabled {
    background-color: var(--lightest-grey-1);
    color: var(--lightest-grey);
  }
}

.secondary {
  width: 171px;
  background: none;
  border: 1px solid var(--light-grey);

  color: var(--light-grey);

  &:hover {
    background-color: var(--lightest-grey);
  }

  &:active {
    border: 1px solid var(--grey);
    background-color: var(--light-grey);
    color: var(--grey);
  }

  &:disabled {
    border: 1px solid var(--light-grey);
    background-color: var(--lightest-grey-1);
    color: var(--lightest-grey);
  }
}
